body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #287265;
    height: 80px;
    margin: 10px;
}
nav ul li {
    list-style-type: nome;
    display: inline-block;
    padding: 10px;

}
ul li a {
    color: #fff;
    letter-spacing: 0.1rem;

}
ul li a:hover{
    color: #ffd358;
    text-decoration: underline;

}
.menu li{
    float: left;
    padding: 35px;
}
.menu li a{
    text-decoration: none;
}
form{
    padding: 35px;
    text-align: right;
}
input[type='sercche'] {
    font-size: 17px;
}
.welcome {
    margin-bottom: 40px;
    color: hsl(0, 11%, 9%);
    text-align: center;
   
    
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
article {
    background-color: #287265;
    padding: 20px;
    border-radius: 8px;
}

article h2 {
    color: #fff;
    margin-bottom: 10px;
}

article p {
    color: #fff
}
article a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: hsl(71, 89%, 56%);
    text-decoration: none;
}
footer {
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    background-color: #287265;
    color: #fff;
    height: 80px;
    margin: 10px;
}
h2 {
    text-align: center;
}
img {
    image-orientation: from-image;
    height: 90%;

}







